@import "vendor/_defaults";

.logotipo-wrapper {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 10px;

  .logotipo {
    width: 250px;
    height: 250px;
    margin-top: 0;
    margin-bottom: 40px;
  }

  @include breakpoint("medium-only") {
    .logotipo {
      width: 150px;
      height: 150px;
    }
  }
}
